.mTRe {
	MARGIN-TOP: -12px
}
#wrap .favorites {
	POSITION: absolute; LEFT: 762px; TOP: 119px
}
.ul03_left {
	MARGIN-BOTTOM: 11px
}
.table0202 TD A:link {
	COLOR: #888888
}
.table0202 TD A:visited {
	COLOR: #888888
}
.table0202 TD.alignC {
	TEXT-ALIGN: center
}
.table0202 TD.span A:link {
	COLOR: #69696b
}
.table0202 TD.span A:visited {
	COLOR: #69696b
}
#eventTable {
	BORDER-TOP: #93c1cb 2px solid; BORDER-COLLAPSE: collapse; MARGIN-TOP: 20px
}
#eventTable TH {
	BORDER-TOP: #93c1cb 1px solid; BORDER-RIGHT: #93c1cb 1px solid; BACKGROUND: #f4f9fa; BORDER-BOTTOM: #93c1cb 1px solid; COLOR: #497281; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #93c1cb 1px solid; PADDING-RIGHT: 0px
}
#eventTable TD {
	BORDER-TOP: #93c1cb 1px solid; BORDER-RIGHT: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid; COLOR: #888888; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #93c1cb 1px solid; PADDING-RIGHT: 0px
}
.jumin-end {
	FONT-SIZE: 9px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.input_img {
	BORDER-TOP-STYLE: none !important; BORDER-LEFT-STYLE: none !important; BORDER-BOTTOM-STYLE: none !important; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; BORDER-RIGHT-STYLE: none !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important
}
.w_auto {
	WIDTH: auto !important
}
.w_13 {
	WIDTH: 13px !important
}
.w_48 {
	WIDTH: 48px !important
}
.w_55 {
	WIDTH: 55px !important
}
.w_65 {
	WIDTH: 65px !important
}
.w_60 {
	WIDTH: 60px !important
}
.w_66 {
	WIDTH: 66px !important
}
.w_84 {
	WIDTH: 84px !important
}
.w_90 {
	WIDTH: 90px !important
}
.w_95 {
	WIDTH: 95px !important
}
.w_101 {
	WIDTH: 101px !important
}
.w_107 {
	WIDTH: 107px !important
}
.w_112 {
	WIDTH: 112px !important
}
.w_135 {
	WIDTH: 135px !important
}
.w_148 {
	WIDTH: 148px !important
}
.w_151 {
	WIDTH: 151px !important
}
.w_162 {
	WIDTH: 162px !important
}
.w_173 {
	WIDTH: 173px !important
}
.w_193 {
	WIDTH: 193px !important
}
.w_200 {
	WIDTH: 200px !important
}
.w_214 {
	WIDTH: 214px !important
}
.w_225 {
	WIDTH: 225px !important
}
.w_294 {
	WIDTH: 294px !important
}
.w_341 {
	WIDTH: 341px !important
}
.w_470 {
	WIDTH: 470px !important
}
.w_555 {
	WIDTH: 555px !important
}
.ml_-30 {
	MARGIN-LEFT: -30px !important
}
.mT00 {
	MARGIN-TOP: 0px !important
}
.mT03 {
	MARGIN-TOP: 3px !important
}
.mT05 {
	MARGIN-TOP: 5px !important
}
.mT07 {
	MARGIN-TOP: 7px !important
}
.mT10 {
	MARGIN-TOP: 10px !important
}
.mT12 {
	MARGIN-TOP: 12px !important
}
.mT14 {
	MARGIN-TOP: 14px !important
}
.mT20 {
	MARGIN-TOP: 20px !important
}
.mT30 {
	MARGIN-TOP: 30px !important
}
.mT40 {
	MARGIN-TOP: 40px !important
}
.mB10 {
	MARGIN-BOTTOM: 10px !important
}
.mB18 {
	MARGIN-BOTTOM: 18px !important
}
.mB23 {
	MARGIN-BOTTOM: 23px !important
}
.mB30 {
	MARGIN-BOTTOM: 30px !important
}
.mB40 {
	MARGIN-BOTTOM: 40px !important
}
.mL00 {
	MARGIN-LEFT: 0px !important
}
.mL02 {
	MARGIN-LEFT: 2px !important
}
.mL03 {
	MARGIN-LEFT: 3px !important
}
.mL04 {
	MARGIN-LEFT: 4px !important
}
.mL05 {
	MARGIN-LEFT: 5px !important
}
.mL08 {
	MARGIN-LEFT: 8px !important
}
.mL10 {
	MARGIN-LEFT: 10px !important
}
.mL25 {
	MARGIN-LEFT: 25px !important
}
.mL-22 {
	MARGIN-LEFT: -22px !important
}
.mL57 {
	MARGIN-LEFT: 57px !important
}
.mr_28 {
	MARGIN-RIGHT: 28px !important
}
.mr_10 {
	MARGIN-RIGHT: 10px !important
}
.mr_06 {
	MARGIN-RIGHT: 6px !important
}
.ml_-11 {
	MARGIN-LEFT: -11px !important
}
.mr_-10 {
	MARGIN-RIGHT: -10px !important
}
.pT00 {
	PADDING-TOP: 0px !important
}
.pT04 {
	PADDING-TOP: 4px !important
}
.pT10 {
	PADDING-TOP: 10px !important
}
.pT18 {
	PADDING-TOP: 18px !important
}
.pT20 {
	PADDING-TOP: 20px !important
}
.pT25 {
	PADDING-TOP: 25px !important
}
.pL02 {
	PADDING-LEFT: 2px !important
}
.pL05 {
	PADDING-LEFT: 5px !important
}
.pL06 {
	PADDING-LEFT: 6px !important
}
.pL30 {
	PADDING-LEFT: 30px !important
}
.pL69 {
	PADDING-LEFT: 69px !important
}
.pL139 {
	PADDING-LEFT: 139px !important
}
.pL198 {
	PADDING-LEFT: 198px !important
}
.pL205 {
	PADDING-LEFT: 205px !important
}
.pR05 {
	PADDING-RIGHT: 5px !important
}
.pB00 {
	PADDING-BOTTOM: 0px !important
}
.pB08 {
	PADDING-BOTTOM: 8px !important
}
.pB25 {
	PADDING-BOTTOM: 25px !important
}
.h92 {
	HEIGHT: 92px !important
}
.spacing1 {
	LETTER-SPACING: -1px
}
.spacing2 {
	LETTER-SPACING: -2px
}
.alignL {
	TEXT-ALIGN: left !important
}
.alignC {
	TEXT-ALIGN: center !important
}
.alignR {
	TEXT-ALIGN: right !important
}
.valignT {
	VERTICAL-ALIGN: top !important
}
.valignM {
	VERTICAL-ALIGN: middle !important
}
.valignTB {
	VERTICAL-ALIGN: text-bottom !important
}
.lineHeight18 {
	LINE-HEIGHT: 18px !important
}
.fixed {
	TABLE-LAYOUT: fixed
}
.borderNone {
	BORDER-TOP-STYLE: none !important; BORDER-LEFT-STYLE: none !important; BORDER-BOTTOM-STYLE: none !important; BORDER-RIGHT-STYLE: none !important
}
.topNoneBorder {
	BORDER-TOP-STYLE: none !important
}
.leftNoneBorder {
	BORDER-LEFT-STYLE: none !important
}
.rightNoneBorder {
	BORDER-RIGHT-STYLE: none !important
}
.orange {
	COLOR: #e5825c !important
}
.color88 {
	COLOR: #888888 !important
}
.colorAE {
	COLOR: #aeaeae !important
}
.fontWeiBold {
	FONT-WEIGHT: bold !important
}
.fontWeiNormal {
	FONT-WEIGHT: normal !important
}
.fontSize0 {
	FONT-SIZE: 0px !important
}
.floatL {
	FLOAT: left !important
}
.floatR {
	FLOAT: right !important
}
.positonR {
	POSITION: relative
}
.displayIB {
	DISPLAY: inline-block !important
}
.of_h {
	OVERFLOW: hidden !important
}
.hidden {
	FONT-SIZE: 0px; HEIGHT: 0px; POSITION: absolute; LEFT: -9999px; LINE-HEIGHT: 0; TOP: 0px; VISIBILITY: hidden; WIDTH: 0px; TEXT-INDENT: -9999px
}
.box01_formdcl02 {
	HEIGHT: 64px; 
}
.btnJohoesun {
	FLOAT: right; CLEAR: right; MARGIN: 15px 0px 5px; DISPLAY: block
}
.registration {
	OVERFLOW: hidden; TEXT-ALIGN: right; CLEAR: right; MARGIN-TOP: 20px
}
.bg_faci_Hlth {
	HEIGHT: 198px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 91px; PADDING-LEFT: 329px; MARGIN-TOP: -30px; PADDING-RIGHT: 0px; WIDTH: 328px
}
.bg_faci_Hptl {
	HEIGHT: 198px; BACKGROUND: url(../img/background/bg_faci02.jpg) no-repeat; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 91px; PADDING-LEFT: 329px; MARGIN-TOP: -30px; PADDING-RIGHT: 0px; WIDTH: 328px
}
.bg_faci_Hlth P {
	FONT-SIZE: 0px; LINE-HEIGHT: 0
}
.bg_faci_Hptl P {
	FONT-SIZE: 0px; LINE-HEIGHT: 0
}
.bg_faci_Hlth .go {
	POSITION: absolute; LEFT: 540px; TOP: 133px
}
.bg_faci_Hptl .go {
	POSITION: absolute; LEFT: 540px; TOP: 133px
}
.bg_faci_Hlth P {
	FONT-SIZE: 0px; LINE-HEIGHT: 0
}
.tabRel {
	OVERFLOW: hidden; WIDTH: 100%
}
.tabRel LI {
	FLOAT: left
}
.tabRel LI IMG {
	VERTICAL-ALIGN: top
}
.mRNeg03 {
	MARGIN-RIGHT: 3px
}
.mLNeg03 {
	MARGIN-LEFT: -3px !important
}
.tabRel LI.on {
	POSITION: relative; MARGIN: 0px -9px
}
.relSiteTable {
	BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed
}
.relSiteTable TD {
	BORDER-RIGHT: #ddd 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #ddd 1px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 13px; PADDING-TOP: 13px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.bgTDChange TD {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 66px; BORDER-RIGHT-WIDTH: 0px; VERTICAL-ALIGN: middle; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP-WIDTH: 0px
}
.bgTDChange TD.rightBorder {
	BORDER-RIGHT: #ddd 1px solid
}
.bgGray {
	BACKGROUND-COLOR: #fafafa
}
.iFrame H6 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.iFrame P {
	DISPLAY: inline !important; WIDTH: 498px !important
}
#popup {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
.width540 {
	OVERFLOW: hidden; WIDTH: 582px
}
.width690 {
	OVERFLOW: hidden; WIDTH: 632px
}
.width700 {
	OVERFLOW: hidden; WIDTH: 642px
}
.width540#popup H1 {
	MARGIN-BOTTOM: 30px; HEIGHT: 31px; BACKGROUND: url(../images/bg_h1_640.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 16px; PADDING-LEFT: 67px; MARGIN-LEFT: -29px; PADDING-RIGHT: 0px; WIDTH: 573px
}
.width540#popup P.logoBg {
	POSITION: absolute; LEFT: 540px; TOP: 14px
}
.width690#popup P.logoBg {
	POSITION: absolute; LEFT: 584px; TOP: 14px
}
.width700#popup P.logoBg {
	POSITION: absolute; LEFT: 594px; TOP: 14px
}
#codeSearchBar {
	HEIGHT: 59px; BACKGROUND: url(../images/bg_bar.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 64px; PADDING-RIGHT: 0px; WIDTH: 418px
}
.codeSearchBarReSize#codeSearchBar {
	MARGIN-BOTTOM: 15px; HEIGHT: 39px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; WIDTH: 458px
}
.codeSearchBarReSize02#codeSearchBar {
	HEIGHT: 39px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 51px; PADDING-RIGHT: 0px; WIDTH: 431px
}
#codeSearchBar LABEL {
	FLOAT: left
}
#codeSearchBar INPUT {
	FLOAT: left
}
#codeSearchBar LABEL IMG {
	FLOAT: left
}
#codeSearchBar LABEL {
	HEIGHT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
#codeSearchBar LABEL.nameSearch {
	PADDING-RIGHT: 17px
}
#codeSearchBar INPUT {
	BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; MARGIN-TOP: 1px; WIDTH: 96px
}
#codeSearchBar INPUT.search {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 0px; WIDTH: 50px
}
#codeSearchBar LABEL IMG {
	PADDING-TOP: 4px
}
#codeSearchBar .code {
	MARGIN-RIGHT: 20px
}
#codeSearchBar .plant {
	MARGIN-RIGHT: 37px
}
#codeSearchBar .designation {
	MARGIN-RIGHT: 10px
}
#codeSearchBar .designation {
	MARGIN-RIGHT: 10px
}
.graySelectBarTop {
	OVERFLOW: hidden; HEIGHT: 6px; FLOAT: left; MARGIN: 14px 0px 0px; WIDTH: 629px
}
.graySelectBarMiddle {
	OVERFLOW: hidden; BORDER-RIGHT: #dddddd 1px solid; PADDING-BOTTOM: 16px; PADDING-TOP: 16px; PADDING-LEFT: 194px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; PADDING-RIGHT: 0px; WIDTH: 433px; BACKGROUND-COLOR: #fafafa
}
.graySelectBarMiddle P {
	FLOAT: left
}
.graySelectBarMiddle INPUT {
	FLOAT: left
}
.graySelectBarMiddle LABEL {
	FLOAT: left
}
.graySelectBarMiddle P {
	FONT-WEIGHT: bold; WIDTH: 79px
}
.graySelectBarMiddle INPUT {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 13px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-TOP: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; WIDTH: 13px; MARGIN-RIGHT: 6px
}
.graySelectBarMiddle LABEL {
	VERTICAL-ALIGN: top; MARGIN-RIGHT: 8px
}
.graySelectBarBottom {
	OVERFLOW: hidden; HEIGHT: 6px; FLOAT: left; MARGIN: 0px 0px 14px; WIDTH: 629px
}
#popup .explanation {
	FLOAT: left; PADDING-LEFT: 18px
}
#popup .full {
	MARGIN-BOTTOM: 8px; FONT-SIZE: 11px; FLOAT: right
}
#popup .full SPAN {
	FONT-WEIGHT: bold; COLOR: #e5825c
}
#popup .skyTable {
	BACKGROUND: url(../images/bg_tableBar_640.gif) no-repeat; BORDER-COLLAPSE: collapse
}
#popup .skyTable TH {
	HEIGHT: 28px; VERTICAL-ALIGN: middle; BACKGROUND: 0px 0px; COLOR: #fff; text-align:center;
}
#popup .skyTable TD {
	BACKGROUND: 0px 0px; BORDER-BOTTOM: #dddddd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#popup .skyTable TD INPUT {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 13px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 4px 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; WIDTH: 13px
}
#popup .skyTable TD.alignC {
	TEXT-ALIGN: center; PADDING-LEFT: 0px
}
#popup .skyTable2 {
	BORDER-COLLAPSE: collapse
}
#popup .skyTable2 TH {
	HEIGHT: 28px; VERTICAL-ALIGN: middle; BACKGROUND: 0px 0px; COLOR: #fff; text-align:center;
}
#popup .skyTable2 TD {
	BACKGROUND: 0px 0px; BORDER-BOTTOM: #dddddd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#popup .skyTable2 TD INPUT {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 13px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 4px 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; WIDTH: 13px
}
#popup .skyTable2 TD.alignC {
	TEXT-ALIGN: center; PADDING-LEFT: 0px
}
#popup .paddTB08 TD {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#popup .skyTable02 {
	BORDER-TOP: #93c1cb 2px solid; BORDER-COLLAPSE: collapse; WIDTH: 631px
}
#popup .skyTable02Re {
	TABLE-LAYOUT: fixed; MARGIN-TOP: 20px
}
#popup .widthRe100 {
	WIDTH: 100%
}
#popup .skyTable02 TH {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; FONT-WEIGHT: bold; COLOR: #497281; PADDING-BOTTOM: 8px; TEXT-ALIGN: left; PADDING-TOP: 7px; PADDING-LEFT: 20px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #f4f9fa
}
#popup .skyTable02 TH SPAN.star {
	OVERFLOW: visible; PADDING-LEFT: 16px; MARGIN-LEFT: -16px; DISPLAY: block
}
#popup .skyTable02 TH.bTBlue {
	BORDER-TOP: #93c1cb 1px solid; BORDER-RIGHT: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid; BORDER-LEFT: #93c1cb 1px solid
}
#popup .skyTable02 TH.borderb_no {
	BORDER-BOTTOM-STYLE: none
}
#popup .skyTable02 TH.borderr_no {
	BORDER-RIGHT-STYLE: none
}
#popup .skyTable02 TH.borderl_no {
	BORDER-LEFT-STYLE: none
}
#popup .skyTable02 TH.borderr_g {
	BORDER-RIGHT: #dddddd 1px solid
}
#popup .skyTable02 TH.borderl_g {
	BORDER-LEFT: #dddddd 1px solid
}
#popup .skyTable02 TD {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; COLOR: #69696b; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 7px; PADDING-LEFT: 0px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 0px
}
#popup .skyTable02 TD.bTBlue {
	BORDER-TOP: #93c1cb 1px solid; BORDER-RIGHT: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid; BORDER-LEFT: #93c1cb 1px solid
}
#popup .skyTable02 TD.borderb_no {
	BORDER-BOTTOM-STYLE: none
}
#popup .skyTable02 TD.borderr_g {
	BORDER-RIGHT: #dddddd 1px solid
}
#popup .skyTable02 TD.borderl_g {
	BORDER-LEFT: #dddddd 1px solid
}
#popup .skyTable02 TD INPUT[type=text] {
	BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid
}
#popup .skyTable02 .tdStyle {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
#popup .skyTable02 .tdStyle INPUT {
	BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid
}
#popup .skyTable02 .tdStyle INPUT.receiptNumber {
	FONT-WEIGHT: bold
}
#popup .skyTable02 .bottomBorder {
	BORDER-BOTTOM: #93c1cb 1px solid
}
.th-center {
	TEXT-ALIGN: center !important
}
#pageList {
	TEXT-ALIGN: center; MARGIN-TOP: 30px
}
#pageList LI {
	DISPLAY: inline; MARGIN-RIGHT: 13px
}
#pageList LI STRONG {
	COLOR: #4d98cd
}
#pageList LI A:link {
	COLOR: #999
}
#pageList LI A:visited {
	COLOR: #999
}
.close {
	FONT-SIZE: 0px; BORDER-TOP: #ccc 1px solid; TEXT-ALIGN: center; PADDING-TOP: 20px; MARGIN-TOP: 30px
}
.output {
	FONT-SIZE: 0px; TEXT-ALIGN: center; PADDING-TOP: 30px
}
.confirm {
	FONT-SIZE: 0px; TEXT-ALIGN: center; PADDING-TOP: 20px
}
.btnZone {
	FONT-SIZE: 0px; TEXT-ALIGN: center; PADDING-TOP: 20px
}
.commentTop {
	FONT-SIZE: 0px; HEIGHT: 6px; BACKGROUND: url(../images/commentZoneTop.gif) no-repeat left top; MARGIN-TOP: 30px; LINE-HEIGHT: 0; WIDTH: 482px
}
.commentMiddle {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-BOTTOM: 14px; PADDING-TOP: 14px; PADDING-LEFT: 20px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #fafafa
}
.commentMiddle H3 {
	HEIGHT: 17px; BACKGROUND: url(../images/bg_blt_h3.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px
}
.commentMiddle H3.ex {
	HEIGHT: 17px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px
}
.commentMiddle UL LI {
	FONT-SIZE: 11px; BACKGROUND: url(../images/bg_blt_li.gif) no-repeat 25px 6px; COLOR: #888; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 32px; PADDING-RIGHT: 0px; WIDTH: 423px
}
.commentMiddle .font11 {
	FONT-SIZE: 11px; COLOR: #888888; PADDING-LEFT: 25px
}
.commentMiddle .star {
	FONT-SIZE: 11px; HEIGHT: 100%; BACKGROUND: url(../images/bg_blt_star.gif) no-repeat 23px 4px; FONT-WEIGHT: bold; COLOR: #888; PADDING-LEFT: 37px; MARGIN-TOP: 7px; LINE-HEIGHT: 18px; WIDTH: 423px
}
.commentMiddle .star02 {
	FONT-SIZE: 11px; HEIGHT: 100%; FONT-WEIGHT: bold; COLOR: #888; PADDING-LEFT: 37px; MARGIN-TOP: 7px; LINE-HEIGHT: 18px; WIDTH: 423px
}
.commentBottom {
	FONT-SIZE: 0px; HEIGHT: 6px; BACKGROUND: url(../images/commentZoneBottom.gif) no-repeat left top; LINE-HEIGHT: 0; WIDTH: 482px
}
.commentTop02 {
	FONT-SIZE: 0px; HEIGHT: 6px; MARGIN-TOP: 30px; LINE-HEIGHT: 0; WIDTH: 642px
}
.commentMiddle02 {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 20px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 20px; WIDTH: 599px; BACKGROUND-COLOR: #fafafa
}
.commentMiddle02 UL LI {
	COLOR: #888; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.commentMiddle02 .bold {
	MARGIN-BOTTOM: 4px; FONT-SIZE: 14px; FONT-WEIGHT: bold; DISPLAY: inline-block
}
.commentBottom02 {
	FONT-SIZE: 0px; HEIGHT: 6px; LINE-HEIGHT: 0; WIDTH: 642px
}
.commentMiddle03 {
	FONT-WEIGHT: bold; TEXT-ALIGN: center; LINE-HEIGHT: 18px
}
#popup .recognizedCont H2 {
	FONT-SIZE: 14px; PADDING-LEFT: 21px; MARGIN: 20px 0px
}
.calendarPaddLeft {
	MARGIN-LEFT: 3px; DISPLAY: inline-block
}
.officeH2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; MARGIN: 18px 0px 13px
}
.help#popup H1 {
	MARGIN-BOTTOM: 26px
}
.help#popup H2 {
	MARGIN-BOTTOM: 13px; FONT-SIZE: 16px; COLOR: #414647
}
.help#popup H3 {
	MARGIN-BOTTOM: 11px; FONT-SIZE: 14px; COLOR: #69696b; PADDING-LEFT: 19px
}
.dpdt#popup H2 {
	MARGIN-BOTTOM: 11px; FONT-SIZE: 16px; COLOR: #414647; PADDING-LEFT: 19px
}
.help#popup H4 {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 12px; COLOR: #e5825c; PADDING-LEFT: 19px
}
.help_02#popup H4 {
	MARGIN-BOTTOM: 6px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #696969; PADDING-LEFT: 0px
}
.help_02#popup P {
	COLOR: #888
}
.help_02#popup LI {
	COLOR: #888
}
.help_02#popup OL LI SPAN {
	FLOAT: left; CLEAR: both
}
.help_02#popup OL LI SPAN.first {
	DISPLAY: block; WIDTH: 20px
}
.help_02#popup OL LI SPAN.second {
	
}
.help#popup H4 SPAN {
	COLOR: #888888
}
.help#popup P.logoBg {
	POSITION: absolute; LEFT: 599px; TOP: 15px
}
#agreement {
	MARGIN-BOTTOM: 30px; HEIGHT: 96px; COLOR: #888; PADDING-BOTTOM: 18px; PADDING-TOP: 18px; PADDING-LEFT: 23px; LINE-HEIGHT: 18px; PADDING-RIGHT: 23px
}
#agreement .applicant {
	FLOAT: right; MARGIN-TOP: 9px
}
#agreement .applicant SPAN {
	PADDING-LEFT: 73px; DISPLAY: inline-block
}
.help#popup .list {
	MARGIN-BOTTOM: 16px
}
.help#popup .list LI {
	COLOR: #888; PADDING-LEFT: 19px; LINE-HEIGHT: 18px
}
.help#popup .list LI UL LI {
	PADDING-LEFT: 10px
}
.help#popup .list LI OL LI {
	PADDING-LEFT: 0px
}
.help#popup .hr {
	BORDER-BOTTOM: #cccccc 1px solid; MARGIN: 28px 0px
}
.help#popup .print {
	MARGIN-BOTTOM: 30px; TEXT-ALIGN: center
}
#popup .print {
	MARGIN-BOTTOM: 30px; TEXT-ALIGN: center
}
.help#popup .liFloat LI {
	FLOAT: left; WIDTH: 100%
}
.help#popup .list LI SPAN.liFirst {
	FLOAT: left; DISPLAY: block
}
.help#popup .list LI SPAN.liSecond {
	FLOAT: left; PADDING-LEFT: 5px; DISPLAY: block; WIDTH: 600px
}
.help#popup TABLE {
	BORDER-TOP: #93c1cb 2px solid; BORDER-COLLAPSE: collapse; WIDTH: 631px
}
.help#popup TABLE TH {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; FONT-WEIGHT: bold; COLOR: #888; PADDING-BOTTOM: 8px; PADDING-TOP: 7px; PADDING-LEFT: 0px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #fcfcfc
}
.help#popup TABLE THEAD TH {
	BORDER-BOTTOM: #93c1cb 1px solid
}
.help#popup TABLE THEAD TH.first {
	BORDER-RIGHT: #93c1cb 1px solid
}
.help#popup TABLE THEAD TH.Second {
	BORDER-RIGHT: #93c1cb 1px solid
}
.help#popup TABLE THEAD TH.grayBottomBorder {
	BORDER-BOTTOM: #dddddd 1px solid
}
.help#popup TABLE TH.green {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; FONT-WEIGHT: bold; COLOR: #497281; PADDING-BOTTOM: 8px; PADDING-TOP: 7px; PADDING-LEFT: 0px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #f3f9fa
}
.help#popup TABLE TD {
	FONT-SIZE: 11px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #dddddd 1px solid; COLOR: #888; PADDING-BOTTOM: 8px; TEXT-ALIGN: left; PADDING-TOP: 8px; PADDING-LEFT: 18px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 18px
}
.help#popup TABLE TD.greenTopBorder {
	BORDER-TOP: #93c1cb 1px solid
}
.help#popup .table02 TD {
	FONT-SIZE: 12px
}
.help#popup .table03 TH.green {
	BORDER-TOP: #93c1cb 1px solid; BORDER-RIGHT: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid; BORDER-LEFT: #93c1cb 1px solid
}
.help#popup .table03 TD.greenB {
	BORDER-TOP: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid
}
.table06 TH {
	PADDING-BOTTOM: 6px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
.table06 TH SPAN.case {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px
}
.table06 TH SPAN.case A {
	COLOR: #565e61; PADDING-LEFT: 14px; DISPLAY: inline-block; LETTER-SPACING: -1px
}
.clo01 {
	FONT-SIZE: 11px
}
.selectZone {
	POSITION: absolute; LEFT: 453px; TOP: 59px; WIDTH: 204px
}
.selectZone02 {
	LEFT: 439px; WIDTH: 219px; MARGIN-RIGHT: 5px
}
.selectZone SELECT {
	FLOAT: left; MARGIN-TOP: 1px; WIDTH: 101px; MARGIN-RIGHT: 5px
}
.selectZone A {
	FLOAT: left; MARGIN-LEFT: 5px
}
.relSiteTableServ SPAN {
	FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: #888; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 17px; DISPLAY: inline-block; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px
}
.relSiteTableServ TD {
	HEIGHT: 39px; PADDING-BOTTOM: 14px; PADDING-TOP: 14px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px
}
.relSiteTableServ TD STRONG {
	LINE-HEIGHT: 19px; MARGIN-RIGHT: 5px
}
.relSiteTableServ TD A {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px !important; MARGIN-TOP: 0px !important
}
.relSiteTableServ TD A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px; MARGIN-TOP: 0px
}
relSiteTableServ TD A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px; MARGIN-TOP: 0px
}
.relSiteTableServ TD A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px; MARGIN-TOP: 0px
}
relSiteTableServ TD A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px; MARGIN-TOP: 0px
}
.btn01_CPRSL {
	TOP: 80px
}
.emial-bg {
	WIDTH: 642px
}
.emial-bg#popup H1 {
	MARGIN-BOTTOM: 30px; HEIGHT: 31px; PADDING-BOTTOM: 0px; PADDING-TOP: 16px; PADDING-LEFT: 67px; MARGIN-LEFT: -29px; PADDING-RIGHT: 0px; WIDTH: 633px
}
.emial-bg#popup P.logoBg {
	POSITION: absolute; LEFT: 594px; TOP: 14px
}
.help01#popup .hr {
	BORDER-BOTTOM: #cccccc 1px solid; MARGIN: 28px 0px
}
.help01#popup .print {
	MARGIN-BOTTOM: 30px; TEXT-ALIGN: center
}
.emial-bg#popup P.info {
	FONT-SIZE: 0.91em; COLOR: #888; PADDING-LEFT: 16px
}
.table04 {
	BORDER-TOP: #93c1cb 2px solid
}
.table04 TH {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; COLOR: #497281; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #f4f9fa
}
.table04 TH SPAN {
	COLOR: #497281; PADDING-LEFT: 15px; MARGIN-LEFT: -15px; DISPLAY: block
}
.table04 TH EM {
	FONT-WEIGHT: normal
}
.table04 TD {
	BORDER-BOTTOM: #dddddd 1px solid; COLOR: #888888; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.table04 .end {
	BORDER-BOTTOM: #93c1cb 1px solid
}
.table04 LI {
	BACKGROUND: url(../img/icon/bgli_MembInfoUpdtForm1.gif) no-repeat left 3px; PADDING-LEFT: 17px; LINE-HEIGHT: 150%
}
.table04 .span01 {
	COLOR: #e5825c; LINE-HEIGHT: 150%
}
.table04 TD SPAN {
	COLOR: #e5825c
}
.table04 .text01 {
	HEIGHT: 100px; MARGIN: 5px 0px; WIDTH: 450px
}
.btn_center {
	POSITION: relative; TEXT-ALIGN: center; MARGIN-TOP: 30px
}
.btn_center LI {
	DISPLAY: inline
}
.fs11 {
	FONT-SIZE: 0.91em !important
}
.w-150 {
	WIDTH: 150px
}
.w-210 {
	WIDTH: 210px
}
.w-450 {
	WIDTH: 450px
}
.box01_MSL3 {
	BACKGROUND: url(../img/background/bg_MSL3.gif) no-repeat; POSITION: relative; PADDING-BOTTOM: 30px; PADDING-TOP: 25px; PADDING-LEFT: 222px; MARGIN-LEFT: 40px; PADDING-RIGHT: 0px
}
.box01_MSL3 SPAN {
	FONT-SIZE: 14px; RIGHT: 254px; POSITION: absolute; FONT-WEIGHT: bold; TOP: 24px
}
.grayFont {
	COLOR: #888
}
.dl01_MSL2 INPUT {
	FONT-SIZE: 11px; BORDER-TOP: #c1c8d3 1px solid; BORDER-RIGHT: #c1c8d3 1px solid; BACKGROUND: #e8e9ed; BORDER-BOTTOM: #c1c8d3 1px solid; COLOR: #888; BORDER-LEFT: #c1c8d3 1px solid
}
.dl01_MSL2 DT {
	FLOAT: left; PADDING-TOP: 4px; WIDTH: 82px
}
P.bgCircle {
	BACKGROUND: url(../img/icon/bgli_MembInfoUpdtForm1.gif) no-repeat left top; PADDING-LEFT: 16px
}
P.bgCircle02 {
	FLOAT: left; MARGIN-LEFT: 10px; DISPLAY: inline-block; WIDTH: 280px
}
.table04 LI.bgImageRe {
	BACKGROUND: url(../img/icon/bgli_MembInfoUpdtForm1.gif) no-repeat left top
}
.cdocbox-top {
	BACKGROUND: url(../img/background/bg_cdocbox_t.gif) no-repeat left top; PADDING-TOP: 15px
}
.cdocbox-bot {
	OVERFLOW: auto; BACKGROUND: url(../img/background/bg_cdocbox_b.gif) no-repeat left bottom; PADDING-BOTTOM: 11px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.cdocprint-q {
	FLOAT: left; DISPLAY: block; WIDTH: 30px
}
.cdocprint-qtxt {
	FLOAT: left; FONT-WEIGHT: bold; DISPLAY: block; LINE-HEIGHT: 18px; WIDTH: 580px
}
.cdocprint-answer {
	OVERFLOW: auto; PADDING-BOTTOM: 35px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.cdocprint-a {
	FLOAT: left; TEXT-ALIGN: center; PADDING-TOP: 2px; DISPLAY: block; WIDTH: 30px
}
.cdocprint-atxt {
	FLOAT: left; DISPLAY: block; LINE-HEIGHT: 18px; WIDTH: 580px
}
.cdocprint-answer-li {
	PADDING-BOTTOM: 30px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.cdocprint-answer-li LI {
	BACKGROUND: url(../img/icon/bullet_dot.gif) no-repeat left 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px
}
.cdocprint-answer-li LI SPAN {
	COLOR: #e5825c
}
.cdocprint-setup LI SPAN {
	FONT-WEIGHT: bold; DISPLAY: block
}
.cdocprint-setup LI IMG {
	PADDING-BOTTOM: 30px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.table06 TH .cue P SPAN {
	BACKGROUND: url(../img/background/bg02_form.png) no-repeat right top
}
.table06 TH .cue DIV SPAN {
	BACKGROUND: url(../img/background/bg02_form.png) no-repeat right top
}
.alignLP20.table04 TH {
	TEXT-ALIGN: left !important; PADDING-LEFT: 23px !important
}
.bord02_table06 TABLE.borderNoneT {
	BORDER-TOP-STYLE: none !important
}
.table06_alignC TH {
	TEXT-ALIGN: center !important; PADDING-LEFT: 0px !important
}
.table09_alignC TH {
	TEXT-ALIGN: center !important; PADDING-LEFT: 0px !important
}
.table09 TD.alignLP20 {
	TEXT-ALIGN: left !important; PADDING-LEFT: 20px !important
}
.table09-top TH {
	TEXT-ALIGN: left !important; PADDING-LEFT: 20px !important
}
.table09-add TH {
	TEXT-ALIGN: left !important; PADDING-LEFT: 20px !important
}
.table-form1 TH {
	TEXT-ALIGN: left; PADDING-LEFT: 20px !important
}
.box_CPRSL1 H6 {
	TEXT-ALIGN: center; PADDING-TOP: 4px; MARGIN-LEFT: 0px
}
.box_CPRSL1_02 .box_CPRSL1 H6 {
	TEXT-ALIGN: center; PADDING-TOP: 4px; MARGIN-LEFT: 0px
}
.box_CPRSL1_02 .bg02_CPRSL1_02 H6 {
	TEXT-ALIGN: center; PADDING-TOP: 9px; MARGIN-LEFT: 177px
}
.box_CPRSL1_02 .bg02_CPRSL1_02 .txt07 {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LEFT: 19px; MARGIN: 0px; TOP: 8px; PADDING-RIGHT: 0px
}
.box_CPRSL1_02 .bg02_CPRSL1_02 .txt07_02 {
	LEFT: 11px
}
.box_CPRSL1_02 .bg02_CPRSL1_02 P {
	PADDING-BOTTOM: 6px; TEXT-ALIGN: center; PADDING-TOP: 7px; MARGIN-LEFT: 177px
}
.viewTD TD {
	COLOR: #888 !important; PADDING-BOTTOM: 6px; PADDING-TOP: 10px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px
}
.ul01_issu02 LI {
	BACKGROUND: url(../img/background/libg_GDCP.gif) no-repeat 0px 5px; COLOR: #69696b; PADDING-LEFT: 9px; LINE-HEIGHT: 1.5
}
.blockScrt {
	FLOAT: left
}
.ptcpScrtTab04bg {
	HEIGHT: 132px; BACKGROUND: url(../img/ptcp/bg_PtcpScrtPrgm1.gif) no-repeat left top; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 30px; PADDING-LEFT: 90px; MARGIN-TOP: 20px; PADDING-RIGHT: 0px; WIDTH: 100%
}
.ptcpScrtTab04bg P {
	FLOAT: left; FONT-WEIGHT: bold; COLOR: #69696b
}
.ptcpScrtTab04bg P.one {
	MARGIN-RIGHT: 125px
}
.ptcpScrtTab04bg P.two {
	MARGIN-RIGHT: 127px
}
.ptcpScrtTab04bg P.three {
	POSITION: absolute; LEFT: 511px; TOP: 30px; WIDTH: 142px
}
.ptcpScrtTab04bg P A {
	MARGIN-TOP: 24px; DISPLAY: block
}
.table06 .td_div DIV.period {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; PADDING-LEFT: 0px
}
.table06 .td_div DIV.period P {
	BORDER-BOTTOM: #f0e4d7 1px solid; MARGIN-TOP: 0px; DISPLAY: inline-block; WIDTH: 368px
}
.table06 .td_div DIV.period P.end {
	BORDER-BOTTOM-STYLE: none
}
.table06 .td_div DIV.period SPAN {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.table06 .td_div DIV.period SPAN.one {
	FLOAT: left; COLOR: #69696b; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 70px; PADDING-RIGHT: 70px
}
.table06 .td_div DIV.period SPAN.one-add-board {
	BORDER-RIGHT: #f0e4d7 1px solid; FLOAT: left; COLOR: #69696b; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 285px
}
.table06 .td_div DIV.period SPAN.two {
	FLOAT: left; COLOR: #69696b; TEXT-ALIGN: center; WIDTH: 85px
}
.table06 .td_div DIV.period SPAN.two-add-border {
	FLOAT: left; COLOR: #69696b; TEXT-ALIGN: center; WIDTH: 80px
}
.table06 .td_div DIV.period SPAN SPAN {
	COLOR: #69696b; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; DISPLAY: inline-block; PADDING-RIGHT: 8px
}
.bg_login {
	HEIGHT: 323px; BACKGROUND: url(../img/background/bg_login.gif) no-repeat left top; POSITION: relative; PADDING-TOP: 33px; WIDTH: 657px
}
.bg_login INPUT {
	HEIGHT: 13px; POSITION: static !important; WIDTH: 13px
}
.bg_login H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 24px 78px; WIDTH: auto
}
.bg_login .tableLogin {
	HEIGHT: 143px; OVERFLOW-Y: auto; MARGIN-LEFT: 77px; WIDTH: 520px
}
.mgAuto.table10 {
	BACKGROUND: url(../img/background/bgtab_Bloc02.gif) no-repeat 0px 0px; MARGIN: 0px; WIDTH: 503px
}
.btnLogin {
	POSITION: absolute; LEFT: 289px; TOP: 269px
}
.btnLogin INPUT {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 60px
}
.ul02_Re LI SPAN {
	HEIGHT: 13px; POSITION: relative; LEFT: 0px; MARGIN: 0px 3px 0px 4px; DISPLAY: inline-block
}
.box01_PQAL02 UL {
	PADDING-TOP: 5px; WIDTH: 325px
}
.box01_PQAL02 .inbox {
	PADDING-BOTTOM: 15px; PADDING-TOP: 11px; PADDING-LEFT: 37px; PADDING-RIGHT: 0px; WIDTH: 48px
}
.box01_PQAL02 .inbox IMG {
	FLOAT: left
}
.box01_PQAL02 .inbox IMG.second {
	MARGIN-LEFT: 10px; DISPLAY: inline-block
}
.table06_Re {
	POSITION: relative; WIDTH: 657px
}
.table06_Re .radioCheckZone {
	POSITION: absolute; LEFT: 107px; TOP: 7px; WIDTH: 84px
}
.table06_Re .radioCheckZone INPUT {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 13px; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px; WIDTH: 13px
}
.table06_Re .radioCheckZone LABEL {
	FONT-SIZE: 11px; COLOR: #fff; PADDING-LEFT: 3px
}
.lrge_tab {
	HEIGHT: 51px; PADDING-BOTTOM: 0px; PADDING-TOP: 14px; PADDING-LEFT: 28px; PADDING-RIGHT: 0px; WIDTH: 100%
}
.lrge01.lrge_tab {
	HEIGHT: 51px; BACKGROUND: url(../img/background/bg_LrgeClnt01.gif) no-repeat left top; WIDTH: 100%
}
.lrge02.lrge_tab {
	HEIGHT: 51px; BACKGROUND: url(../img/background/bg_LrgeClnt02.gif) no-repeat left top; WIDTH: 100%
}
.lrge03.lrge_tab {
	HEIGHT: 51px; BACKGROUND: url(../img/background/bg_LrgeClnt03.gif) no-repeat left top; WIDTH: 100%
}
.lrge_tab LI {
	FLOAT: left
}
.lrge01.lrge_tab LI.first {
	MARGIN-RIGHT: 70px
}
.lrge02.lrge_tab LI.first {
	MARGIN-RIGHT: 61px
}
.lrge03.lrge_tab LI.first {
	MARGIN-RIGHT: 58px
}
.lrge01.lrge_tab LI.second {
	MARGIN-RIGHT: 72px
}
.lrge02.lrge_tab LI.second {
	MARGIN-RIGHT: 86px
}
.lrge03.lrge_tab LI.second {
	MARGIN-RIGHT: 68px
}
.box_lrgeClntRcpt {
	HEIGHT: 217px; BACKGROUND: url(../img/background/bgbox_LrgeClntRcptLayout1.gif) no-repeat left top; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 30px; MARGIN: 16px 0px 20px; PADDING-RIGHT: 0px; WIDTH: 627px
}
.box_lrgeClntRcpt02 {
	HEIGHT: 270px; BACKGROUND: url(../img/background/bgbox_LrgeClntRcptLayout1_02.gif) no-repeat left top
}
.box_lrgeClntRcpt .inbox_01 IMG {
	MARGIN-RIGHT: 18px
}
.box_lrgeClntRcpt .inbox_02 DL {
	MARGIN: 18px 0px 0px 110px; LETTER-SPACING: -1px; LINE-HEIGHT: 18px; WIDTH: 473px
}
.box_lrgeClntRcpt .inbox_02 DL DT {
	FONT-WEIGHT: bold
}
.box_lrgeClntRcpt .inbox_02 DL DD {
	BACKGROUND: url(../img/background/libg_GDCP.gif) no-repeat left 6px; PADDING-LEFT: 7px; LINE-HEIGHT: 17px
}
.box_lrgeClntRcpt .inbox_btn {
	POSITION: absolute; LEFT: 520px; TOP: 153px; WIDTH: 115px
}
.box_lrgeClntRcpt02 .inbox_btn {
	POSITION: absolute; LEFT: 140px; TOP: 242px; WIDTH: 235px
}
.span14_CPRSL1 {
	POSITION: absolute; LEFT: 127px; TOP: 61px
}
.span08_CPRSL1_02 {
	POSITION: absolute; LEFT: 153px; TOP: 80px
}
.bg03_CPRSL1_02 {
	HEIGHT: 79px; BACKGROUND: url(../img/clnt/bg03_CPRSL3_02.gif) no-repeat; WIDTH: 159px
}
.span08_CPRSL1_02_p {
	POSITION: absolute; LEFT: 163px; TOP: 154px
}
.btn01_CPRSL {
	TOP: 65px
}
.btn01_CPRSL_02 {
	RIGHT: 3px; POSITION: absolute; TOP: 97px
}
.box02_BIPSF {
	PADDING-BOTTOM: 7px; PADDING-TOP: 22px; PADDING-LEFT: 66px; PADDING-RIGHT: 40px
}
.ul_IPSL {
	BACKGROUND: url(../img/background/bg01_BIPSF.gif) no-repeat 28px top; PADDING-LEFT: 223px
}
.ul_IPSL {
	PADDING-TOP: 7px
}
.box01_BIPSF H6 {
	MARGIN-RIGHT: 37px
}
.box01_BIPSF UL {
	PADDING-LEFT: 30px
}
.box01_BIPSF {
	PADDING-LEFT: 76px
}
.box01_BIPSF_02 UL {
	PADDING-LEFT: 17px
}
.box01_BIPSF_02 H6 {
	MARGIN-RIGHT: 25px
}
.box02_BIPSF_02 {
	PADDING-BOTTOM: 7px; PADDING-TOP: 30px; PADDING-LEFT: 83px; PADDING-RIGHT: 0px
}
.box02_BIPSF_02 DL {
	BACKGROUND: url(../img/background/bg01_BIPSF.gif) no-repeat 18px top; PADDING-LEFT: 190px
}
.box02_BIPSF_02 DT {
	PADDING-TOP: 9px
}
.box02_BIPSF_02 DD {
	PADDING-TOP: 6px
}
.dl01_MLF DT {
	PADDING-TOP: 12px
}
.btn03 {
	POSITION: absolute; LEFT: 540px; TOP: 25px
}
.box01_BIPSF H6.borderRight {
	BACKGROUND: url(../img/memb/ul01bg_BIPSF.gif) no-repeat right 2px; PADDING-RIGHT: 101px; MARGIN-RIGHT: 20px
}
.box01_BIPSF OL {
	FLOAT: left
}
.box02_BIPSF_02 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 33px; PADDING-LEFT: 66px; PADDING-RIGHT: 40px
}
.ul_IPSL_02 {
	BACKGROUND: url(../img/background/bg_MembLogin.gif) no-repeat left top; PADDING-LEFT: 201px
}
.ul0202 LI {
	MARGIN-BOTTOM: 17px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ul02 SPAN.middle {
	POSITION: relative; LEFT: 0px; TOP: 4px
}
.table06 INPUT.btn_calender {
	POSITION: relative; TOP: 3px
}
.table09 .moreTR SPAN {
	FLOAT: left; COLOR: #888; PADDING-TOP: 2px; DISPLAY: inline-block
}
.table06 .moreTR SPAN {
	FLOAT: left; COLOR: #888; PADDING-TOP: 2px; DISPLAY: inline-block
}
.table09 .moreTD A {
	FLOAT: right; MARGIN-RIGHT: 20px
}
.table06 .moreTD A {
	FLOAT: right; MARGIN-RIGHT: 20px
}
.ul02_02 LI {
	FLOAT: left; WIDTH: 100px; MARGIN-RIGHT: 20px
}
.ul02_02 LI STRONG {
	LEFT: -70px
}
.table06 INPUT[type=radio] {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
.ul02-indvgain LI.bBorderGray {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%
}
.table06 .dayInput {
	POSITION: absolute; LEFT: 0px; TOP: 0px
}
.table06 .doubleTable {
	BORDER-TOP-STYLE: none !important; BORDER-LEFT-STYLE: none !important; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed
}
.table06 .doubleTable TH {
	BORDER-TOP: #f0e4d7 1px solid; BORDER-BOTTOM-STYLE: none
}
.table06 .doubleTable TD {
	BORDER-TOP: #f0e4d7 1px solid; BORDER-BOTTOM-STYLE: none
}
.table06 .doubleTable TD {
	BORDER-RIGHT-STYLE: none
}
.extension {
	MARGIN-LEFT: 14px
}
.ptcpCdocUl {
	MARGIN-TOP: 11px
}
.ptcpCdocUl LI {
	BACKGROUND: url(../img/background/libg_GDCP.gif) no-repeat left 12px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px; PADDING-LEFT: 9px; LINE-HEIGHT: 140%; PADDING-RIGHT: 0px
}
.ptcpCdocStar {
	FONT-WEIGHT: bold; COLOR: #e5825c; PADDING-BOTTOM: 9px; PADDING-TOP: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ol01_cdoc_02 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 25px; PADDING-RIGHT: 0px
}
.ol01_cdoc_02 LI {
	LIST-STYLE-TYPE: none
}
.ol01_cdoc LI UL LI {
	LIST-STYLE-TYPE: none; FONT-SIZE: 11px; BACKGROUND: url(../img/background/bg_ptcpguidUl.gif) no-repeat 2px 7px; PADDING-LEFT: 13px
}
.tdHeight67 TBODY TH {
	HEIGHT: 67px
}
.btn_delete {
	FLOAT: left; MARGIN: 10px 67px 0px 0px; WIDTH: 37px
}
.btnZoneClnt {
	MARGIN-BOTTOM: -38px; TEXT-ALIGN: right; MARGIN-TOP: 15px
}
.box01_bloc02 {
	BACKGROUND: url(../img/background/h2bg_user.gif) no-repeat 29px center
}
.userPop_text {
	PADDING-BOTTOM: 30px; TEXT-ALIGN: center; PADDING-TOP: 30px; PADDING-LEFT: 0px; LINE-HEIGHT: 19px; PADDING-RIGHT: 0px; WIDTH: 540px
}
.codeSearchBar02 {
	MARGIN-LEFT: 29px
}
.box0102 .left {
	BACKGROUND: url(../img/memb/img_entr02.gif) no-repeat left top
}
.box0102 DL {
	PADDING-TOP: 37px; MARGIN-LEFT: 67px
}
.box0102 DL DD {
	MARGIN-LEFT: 46px
}
.box0102 .left .txt01_box {
	MARGIN: 25px 0px 0px 268px
}
.box0102 .left .txt02_box {
	PADDING-BOTTOM: 0px; PADDING-TOP: 33px; PADDING-LEFT: 268px; PADDING-RIGHT: 0px
}
.box0102 .left .txt03_box {
	PADDING-BOTTOM: 22px; PADDING-TOP: 30px; PADDING-LEFT: 300px; PADDING-RIGHT: 0px
}
.box0102 .left .txt01_box .name {
	FONT-SIZE: 15px; FONT-WEIGHT: bold; MARGIN: 0px 17px 0px 25px; DISPLAY: inline-block
}
.box0102 .left .txt03_box A {
	DISPLAY: inline-block
}
.table06 H5 SPAN INPUT.whAuto {
	HEIGHT: auto !important; WIDTH: auto !important
}
.adminiNumber {
	RIGHT: 0px; POSITION: absolute; CLEAR: both; TOP: 7px
}
.adminiNumber02 {
	RIGHT: 0px; POSITION: absolute; CLEAR: both; TOP: 7px
}
.table06 H5 .span_left A:link {
	COLOR: #e5825c
}
.table06 H5 .span_left A:visited {
	COLOR: #e5825c
}
.ul03 LI.heightRe {
	HEIGHT: 65px
}
#template {
	HEIGHT: 100%; POSITION: relative
}
.template01#template H1 {
	PADDING-BOTTOM: 11px; PADDING-TOP: 10px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px; BACKGROUND-COLOR: #3e809f
}
.template01#template H1 IMG.dp_b {
	DISPLAY: inline-block; MARGIN-RIGHT: 5px
}
.template01#template .logo {
	RIGHT: 5%; POSITION: absolute; TOP: 14px
}
.template01#template .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
.template01#template .contents .c_middle {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 29px
}
.template01#template .contents .c_middle A:link {
	COLOR: #528aa4; TEXT-DECORATION: underline
}
.template01#template .contents .c_middle A:visited {
	COLOR: #528aa4; TEXT-DECORATION: underline
}
.template01#template .contents .c_bottom {
	PADDING-BOTTOM: 15px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#temp late.template01 .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
.template02#template {
	BACKGROUND: url(../img/popup/bg_template02.gif) left top
}
.template02#template H1 {
	TEXT-ALIGN: center
}
.template02#template .pageImg {
	RIGHT: 0%; POSITION: absolute; TOP: 0%
}
.template02#template .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 19px; PADDING-RIGHT: 19px
}
.template02#template .contents .c_middle01 {
	BORDER-TOP: #6d7a8a 1px solid; BORDER-RIGHT: #6d7a8a 1px solid; BORDER-BOTTOM: #6d7a8a 1px solid; POSITION: relative; BORDER-LEFT: #6d7a8a 1px solid; BACKGROUND-COLOR: #fff
}
.template02#template .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 29px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
.template02#template .contents .c_middle02 A:link {
	COLOR: #4790c7; TEXT-DECORATION: underline
}
.template02#template .contents .c_middle02 A:visited {
	COLOR: #4790c7; TEXT-DECORATION: underline
}
.template02#template .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
.template02#template .contents .c_middle02 .bg02 {
	RIGHT: -1px; POSITION: absolute; TOP: -1px
}
.template02#template .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: -1px
}
.template02#template .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: -1px
}
.template02#template .contents .c_bottom {
	PADDING-BOTTOM: 15px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.template02#template .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
#template03 {
	BACKGROUND: url(../img/popup/bg_template03.gif) left top; POSITION: relative
}
#template03 H1 {
	PADDING-BOTTOM: 4px; PADDING-TOP: 8px; PADDING-LEFT: 29px; PADDING-RIGHT: 21px
}
#template03 .logo {
	RIGHT: 3%; POSITION: absolute; TOP: 14px
}
#template03 H1 IMG.dp_b {
	DISPLAY: inline-block; MARGIN-RIGHT: 9px
}
#template03 .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 19px; PADDING-RIGHT: 19px
}
#template03 .contents .c_middle {
	POSITION: relative; BACKGROUND-COLOR: #fff
}
#template03 .contents .c_middle01 {
	BORDER-TOP: #94826f 1px solid; BORDER-RIGHT: #94826f 1px solid; BORDER-BOTTOM: #94826f 1px solid; POSITION: relative; BORDER-LEFT: #94826f 1px solid; BACKGROUND-COLOR: #fff
}
#template03 .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 29px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
#template03 .contents .c_middle02 A:link {
	COLOR: #e5825c; TEXT-DECORATION: underline
}
#template03 .contents .c_middle02 A:visited {
	COLOR: #e5825c; TEXT-DECORATION: underline
}
#template03 .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
#template03 .contents .c_middle02 .bg02 {
	RIGHT: -1px; POSITION: absolute; TOP: -1px
}
#template03 .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: -1px
}
#template03 .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: -1px
}
.c_bottom {
	POSITION: absolute; PADDING-BOTTOM: 15px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 100% !important; BOTTOM: 0px
}
#template03 .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
#template04 H1 {
	PADDING-BOTTOM: 20px; PADDING-TOP: 14px; PADDING-LEFT: 29px; PADDING-RIGHT: 21px
}
#template04 .logo {
	RIGHT: 3%; POSITION: absolute; TOP: 14px
}
#template04 H1 IMG.dp_b {
	DISPLAY: inline-block; MARGIN-RIGHT: 9px
}
#template04 .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 19px; PADDING-RIGHT: 19px
}
#template04 .contents .c_middle {
	POSITION: relative; BACKGROUND-COLOR: #fff
}
#template04 .contents .c_middle01 {
	BORDER-TOP: #ddd6a0 1px solid; BORDER-RIGHT: #ddd6a0 1px solid; BORDER-BOTTOM: #ddd6a0 1px solid; POSITION: relative; BORDER-LEFT: #ddd6a0 1px solid; BACKGROUND-COLOR: #fff
}
#template04 .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 29px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
#template04 .contents .c_middle02 A:link {
	COLOR: #e5825c; TEXT-DECORATION: underline
}
#template04 .contents .c_middle02 A:visited {
	COLOR: #e5825c; TEXT-DECORATION: underline
}
#template04 .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
#template04 .contents .c_middle02 .bg02 {
	RIGHT: -1px; POSITION: absolute; TOP: -1px
}
#template04 .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: -1px
}
#template04 .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: -1px
}
#template04 .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
#template04 .contents .tape {
	POSITION: absolute; MARGIN-LEFT: -68px; LEFT: 50%; TOP: -24px
}
#template05 H1 {
	HEIGHT: 39px; BACKGROUND: url(../img/popup/bg_h1_template05.gif) repeat-x left top; POSITION: relative; TEXT-ALIGN: center; MARGIN: 21px 28px 0px 27px
}
#template05 H1 .h1_left {
	FLOAT: left
}
#template05 H1 .h1_right {
	FLOAT: right
}
#template05 H1 .h1_img {
	POSITION: absolute; MARGIN-LEFT: -110px; LEFT: 50%; TOP: 8px
}
#template05 .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 27px; PADDING-RIGHT: 28px
}
#template05 .contents .c_middle {
	POSITION: relative; BACKGROUND-COLOR: #fff
}
#template05 .contents .c_middle01 {
	BORDER-TOP: #48632e 1px solid; BORDER-RIGHT: #48632e 1px solid; BORDER-BOTTOM: #48632e 1px solid; POSITION: relative; BORDER-LEFT: #48632e 1px solid; BACKGROUND-COLOR: #eaeff3
}
#template05 .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 0px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
#template05 .contents .c_middle02 A:link {
	COLOR: #618306; TEXT-DECORATION: underline
}
#template05 .contents .c_middle02 A:visited {
	COLOR: #618306; TEXT-DECORATION: underline
}
#template05 .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
#template05 .contents .c_middle02 .bg02 {
	RIGHT: -1px; POSITION: absolute; TOP: -1px
}
#template05 .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: -1px
}
#template05 .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: -1px
}
#template05 .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
#template05 #cont {
	BORDER-BOTTOM: #d4d4d4 1px solid
}
#template05 .contents .tape {
	POSITION: absolute; MARGIN-LEFT: -68px; LEFT: 50%; TOP: -24px
}
#template05 .contents .c_bottom {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 0px
}
BODY#body-template06 {
	BACKGROUND: url(../img/popup/bg_top_0602.gif) #5db0c0 no-repeat center top; WIDTH: 100%
}
BODY#body-template06 H1 {
	FONT-SIZE: 0px; HEIGHT: 56px; BACKGROUND: url(../img/popup/h1_template06.png) no-repeat 35px 29px; POSITION: relative; Z-INDEX: 3; LINE-HEIGHT: 0
}
BODY#body-template06 .logo {
	FONT-SIZE: 0px; HEIGHT: 56px; BACKGROUND: url(../img/popup/logo_template06.png) no-repeat left 27px; RIGHT: 27px; POSITION: absolute; LINE-HEIGHT: 0; TOP: 0px; WIDTH: 75px
}
BODY#body-template06 .contents .c_middle01 {
	POSITION: relative; MARGIN: 0px 23px; BACKGROUND-COLOR: #fff
}
BODY#body-template06 .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 29px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
BODY#body-template06 .contents .c_middle02 A:link {
	COLOR: #3f99aa; TEXT-DECORATION: underline
}
BODY#body-template06 .contents .c_middle02 A:visited {
	COLOR: #3f99aa; TEXT-DECORATION: underline
}
BODY#body-template06 .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
BODY#body-template06 .contents .c_middle02 .bg02 {
	RIGHT: 0px; POSITION: absolute; TOP: -1px
}
BODY#body-template06 .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: 0px
}
BODY#body-template06 .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: 0px
}
#template07 H1 {
	HEIGHT: 47px; BACKGROUND: url(../img/popup/bg_h1_template07.gif) repeat-x left 25px; POSITION: relative; PADDING-TOP: 25px; MARGIN: 0px 30px
}
#template07 H1 .h1_left {
	FLOAT: left
}
#template07 H1 .h1_right {
	FLOAT: right
}
#template07 H1 .h1_img {
	POSITION: absolute; LEFT: 19px; TOP: 34px
}
#template07 .logo {
	RIGHT: 15px; POSITION: absolute; TOP: 32px
}
#template07 .contents {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
#template07 .contents .c_middle {
	POSITION: relative; BACKGROUND-COLOR: #fff
}
#template07 .contents .c_middle01 {
	BORDER-TOP: #c4ced0 1px solid; BORDER-RIGHT: #c4ced0 1px solid; BORDER-BOTTOM: #c4ced0 1px solid; POSITION: relative; BORDER-LEFT: #c4ced0 1px solid; BACKGROUND-COLOR: #fff
}
#template07 .contents .c_middle02 {
	OVERFLOW: hidden; VERTICAL-ALIGN: top; PADDING-BOTTOM: 29px; PADDING-TOP: 29px; PADDING-LEFT: 29px; PADDING-RIGHT: 29px
}
#template07 .contents .c_middle02 A:link {
	COLOR: #4796a4; TEXT-DECORATION: underline
}
#template07 .contents .c_middle02 A:visited {
	COLOR: #4796a4; TEXT-DECORATION: underline
}
#template07 .contents .c_middle02 .bg01 {
	POSITION: absolute; LEFT: -1px; TOP: -1px
}
#template07 .contents .c_middle02 .bg02 {
	RIGHT: -1px; POSITION: absolute; TOP: -1px
}
#template07 .contents .c_middle02 .bg03 {
	POSITION: absolute; LEFT: -1px; BOTTOM: -1px
}
#template07 .contents .c_middle02 .bg04 {
	RIGHT: -1px; POSITION: absolute; BOTTOM: -1px
}
#template07 .contents .c_bottom .templateClose {
	HEIGHT: 13px; WIDTH: 13px
}
BODY#body-template08 .contents {
	POSITION: relative
}
BODY#body-template08 H1 {
	HEIGHT: 42px; BACKGROUND: url(../img/popup/bg_h1_08.gif) #fff no-repeat left top; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 45px; PADDING-LEFT: 22px; LEFT: 56px; Z-INDEX: 2; TOP: -60px; PADDING-RIGHT: 0px; WIDTH: 94px
}
BODY#body-template08 .logo {
	RIGHT: 3%; POSITION: absolute; TOP: -40px
}
BODY#body-template08 .c_middle01 {
	BACKGROUND: url(../img/popup/bg_cont_top.gif) #fff repeat-x left top; POSITION: relative; MARGIN: 60px 16px 0px 8px
}
BODY#body-template08 .c_middle02 {
	BACKGROUND: url(../img/popup/bg_cont_right.gif) repeat-y right top
}
BODY#body-template08 .c_middle03 {
	BACKGROUND: url(../img/popup/bg_cont_bottom.gif) repeat-x left bottom
}
BODY#body-template08 .c_middle04 {
	BACKGROUND: url(../img/popup/bg_cont_left.gif) repeat-y left top; PADDING-BOTTOM: 28px; PADDING-TOP: 26px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
BODY#body-template08 .c_middle05 {
	BACKGROUND: url(../img/popup/bg_cont_left_spring.gif) repeat-y -8px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 67px; PADDING-RIGHT: 40px
}
BODY#body-template08 .c_middle05 .bg01 {
	POSITION: absolute; LEFT: -8px; TOP: 0px
}
BODY#body-template08 .c_middle05 .bg02 {
	RIGHT: -16px; POSITION: absolute; TOP: -1px
}
BODY#body-template08 .c_middle05 .bg03 {
	POSITION: absolute; LEFT: 10px; BOTTOM: 0px
}
BODY#body-template08 .c_middle05 .bg04 {
	RIGHT: 0px; POSITION: absolute; BOTTOM: 0px
}
BODY#body-template08 #cont {
	OVERFLOW: auto
}
BODY#body-template08 #cont H2 {
	MARGIN: 13px 0px 38px
}
BODY#body-template08 #cont A:link {
	FONT-WEIGHT: bold; COLOR: #ea607e; TEXT-DECORATION: underline
}
BODY#body-template08 #cont A:visited {
	FONT-WEIGHT: bold; COLOR: #ea607e; TEXT-DECORATION: underline
}
BODY#body-template08 .c_bottom {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 0px
}
#cont {
	OVERFLOW: auto
}
.table01 TD SPAN.strong_recept {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; DISPLAY: inline-block; PADDING-RIGHT: 13px
}
.table01 TD SPAN.sky.strong_recept {
	COLOR: #6cadbf
}
BODY#body-template01 {
	HEIGHT: 100%; POSITION: relative
}
BODY#body-template02 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template02.gif) left top; POSITION: relative
}
BODY#body-template03 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template03.gif) left top; POSITION: relative
}
BODY#body-template04 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template04.gif) left top; POSITION: relative; WIDTH: 100%
}
BODY#body-template05 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template05.gif) left top; POSITION: relative
}
BODY#body-template07 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template07.gif) left top; POSITION: relative; WIDTH: 100%
}
BODY#body-template08 {
	HEIGHT: 100%; BACKGROUND: url(../img/popup/bg_template08.jpg) left top; POSITION: relative
}
.ul_IPSL_020_regi {
	OVERFLOW: hidden; HEIGHT: 88px; BACKGROUND: url(../img/background/bg_MembRegi.gif) no-repeat left top; PADDING-LEFT: 140px !important
}
.ul_IPSL_020_regi LABEL {
	PADDING-RIGHT: 5px
}
.btnZoneRei {
	POSITION: relative; CLEAR: both; LEFT: 90px
}
.help .ul_UAL LI {
	POSITION: relative; TEXT-ALIGN: justify; PADDING-LEFT: 14px; LINE-HEIGHT: 1.5em; WIDTH: 618px
}
.help .ul_UAL SPAN {
	POSITION: absolute; LEFT: 0px; TOP: 0px
}
.calc#popup {
	LINE-HEIGHT: 18px
}
.calc#popup H1 {
	MARGIN-BOTTOM: 26px
}
.calc#popup H2 {
	FONT-SIZE: 16px; COLOR: #414647; MARGIN: 35px 0px 12px
}
.calc#popup H1 {
	MARGIN-BOTTOM: 30px; HEIGHT: 31px; BACKGROUND: url(../img/data/bg_h1_calcP.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 16px; PADDING-LEFT: 67px; MARGIN-LEFT: -29px; PADDING-RIGHT: 0px; WIDTH: 633px
}
.txt-tbl-comment {
	PADDING-BOTTOM: 9px; TEXT-ALIGN: right
}
.tbl-EntrObj {
	BORDER-TOP: #93c1cb 2px solid; TABLE-LAYOUT: fixed; COLOR: #69696b; WIDTH: 642px
}
.tbl-EntrObj THEAD TH {
	BORDER-RIGHT: #93c1cb 1px solid; BORDER-BOTTOM: #93c1cb 1px solid; COLOR: #497281; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 5px; LINE-HEIGHT: 15px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f4f9fa
}
.tbl-EntrObj TBODY TH {
	BORDER-RIGHT: #dddddd 1px solid; BACKGROUND: #fcfcfc; BORDER-BOTTOM: #dddddd 1px solid; COLOR: #69696b; PADDING-BOTTOM: 4px; PADDING-TOP: 8px; PADDING-LEFT: 5px; LINE-HEIGHT: 15px; PADDING-RIGHT: 5px
}
.tbl-EntrObj TD {
	FONT-SIZE: 12px; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; COLOR: #69696b; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 12px; LINE-HEIGHT: 18px; PADDING-RIGHT: 12px
}
.tbl-EntrObj TD.txt-left {
	TEXT-ALIGN: left
}
.tbl-EntrObj TD.txt-top {
	VERTICAL-ALIGN: top
}
.tbl-EntrObj TD A {
	COLOR: #69696b; TEXT-DECORATION: underline
}
.tbl-EntrObj TD.valign-mid {
	VERTICAL-ALIGN: middle
}
.tbl-EntrObj .last {
	BORDER-RIGHT-STYLE: none
}
.tbl-EntrObj TD UL LI {
	BACKGROUND: url(../img/icon/bullet_dot.gif) no-repeat left 6px; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px
}
.tbl-EntrObj TD SPAN.txt12 {
	FONT-SIZE: 12px
}
.tbl-EntrObj TD SPAN.Entr-call {
	FONT-WEIGHT: bold; COLOR: #e5825c; DISPLAY: block
}
.tbl-EntrObj TD A.Entr-site {
	COLOR: #69696b; TEXT-DECORATION: underline
}
.borderr_no {
	BORDER-RIGHT: medium none
}
.calc#popup OL LI {
	POSITION: relative; PADDING-BOTTOM: 17px; PADDING-TOP: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px
}
.calc#popup OL LI.last-li {
	PADDING-BOTTOM: 0px !important
}
.calc#popup OL LI SPAN {
	POSITION: absolute; FONT-WEIGHT: bold; LEFT: 0px; TOP: 0px
}
.txt-underline {
	TEXT-DECORATION: underline !important
}
.p-arrow {
	BACKGROUND: url(../img/background/bg_pop_arrowgray.gif) no-repeat left 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.calc#popup OL LI OL {
	PADDING-TOP: 10px
}
.calc#popup OL LI OL LI {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px
}
.calc#popup OL LI OL LI SPAN {
	POSITION: absolute; FONT-WEIGHT: normal; LEFT: 0px; TOP: 0px
}
.list-dot {
	MARGIN-BOTTOM: 0px
}
.list-dot LI {
	BACKGROUND: url(../img/clnt/popup/bg_blt_li.gif) no-repeat 12px 6px; COLOR: #888; PADDING-BOTTOM: 10px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 19px !important; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px !important
}
.list-dot LI UL LI {
	BACKGROUND: url(../img/clnt/popup/bg_liHelp.gif) no-repeat 2px 8px; PADDING-LEFT: 10px
}
.list-dot LI OL LI {
	BACKGROUND: url(../img/clnt/popup/bg_Transparency.gif) no-repeat; PADDING-LEFT: 0px
}
.list-hyphen {
	MARGIN-BOTTOM: 0px
}
.list-hyphen LI {
	BACKGROUND: url(../img/background/bg_hyphen.gif) no-repeat left 9px; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 9px !important; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px !important
}
.grb-top-P {
	BACKGROUND: url(../img/background/bg_grb_topP.gif) no-repeat left top; PADDING-TOP: 15px; MARGIN: 10px 0px 0px -22px; WIDTH: 640px
}
.grb-bot-P {
	BACKGROUND: url(../img/background/bg_grb_botP.gif) no-repeat left bottom; PADDING-BOTTOM: 12px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.grb-bot-P UL {
	PADDING-TOP: 5px
}
.grb-bot-P UL LI {
	BACKGROUND: url(../img/icon/bullet_dot.gif) no-repeat left 7px; PADDING-BOTTOM: 0px !important; TEXT-ALIGN: left; PADDING-TOP: 0px !important; PADDING-LEFT: 8px !important; LETTER-SPACING: 0px; PADDING-RIGHT: 0px !important
}
.txt-st-calcP1 {
	FLOAT: left; DISPLAY: block; WIDTH: 85px
}
.txt-st-calcP2 {
	FLOAT: left; DISPLAY: block; WIDTH: 210px
}
.table07 TD A:link {
	COLOR: #888
}
.table07 TD A:visited {
	COLOR: #888
}
.idSearchBtn {
	POSITION: absolute; LEFT: 520px; TOP: 107px
}
.box02_BIPSF_02 .bg_img {
	HEIGHT: 100px; BACKGROUND: url(../img/background/bg01_BIPSF.gif) no-repeat left 18px; PADDING-TOP: 27px; PADDING-LEFT: 197px
}
.box02_BIPSF_02 .bg_img02 {
	HEIGHT: 100px; BACKGROUND: url(../img/background/bg01_BIPSF.gif) no-repeat left 30px; PADDING-TOP: 27px; PADDING-LEFT: 197px
}
.bg_RBorder {
	BACKGROUND: url(../img/memb/ul01bg_BIPSF.gif) no-repeat right 2px; PADDING-RIGHT: 71px; MARGIN-RIGHT: 16px !important
}
.box02_BIPSF_02 DL.bg_position {
	BACKGROUND-POSITION: left top
}
.btnQA {
	MARGIN: 29px 0px 13px 145px
}
.hyphen {
	MARGIN: 0px 2px; DISPLAY: inline-block
}
.table10_02 {
	BACKGROUND: url(../img/background/bgtab_Bloc_02.gif) no-repeat 0px 0px; MARGIN: 35px 0px 0px 75px; WIDTH: 522px
}
.box01top_blocsubmain {
	OVERFLOW: hidden; HEIGHT: 234px
}
.box01top_blocsubmain DIV {
	FLOAT: left
}
.box01top_blocsubmain DIV UL {
	MARGIN-TOP: 6px
}
.no_page_wrap {
	POSITION: absolute; MARGIN-LEFT: -328px; LEFT: 50%; MARGIN-TOP: -78px; TOP: 50%; WIDTH: 657px
}
.no_page {
	FONT-SIZE: 14px; HEIGHT: 89px; BACKGROUND: url(../img/common/bg_noPage.gif) no-repeat 0px 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 47px; PADDING-LEFT: 70px; MARGIN: auto; PADDING-RIGHT: 0px; WIDTH: 587px
}
.btn_noPage {
	HEIGHT: 21px; MARGIN: auto; DISPLAY: block; WIDTH: 50px
}
.login {
	HEIGHT: 180px; POSITION: relative; WIDTH: 362px
}
.login H2 {
	BACKGROUND: url(../img/background/h2_loginP.gif) no-repeat 29px center
}
.login .box02_bloc DL {
	CLEAR: both; MARGIN: 36px 0px 0px 29px
}
.login .box02_bloc DT {
	BACKGROUND: url(../img/background/bg_loginP_li.gif) no-repeat 3px 18px; PADDING-LEFT: 11px
}
.login .box02_bloc DT.pt_3 {
	BACKGROUND-POSITION: 3px 9px
}
.login .box02_bloc DD.mt_0 {
	MARGIN-TOP: 0px
}
.login .box02_bloc .p001_dl01out {
	RIGHT: 29px; TOP: 82px
}
.commP {
	FONT-SIZE: 11px; HEIGHT: 100%; COLOR: #888888; PADDING-LEFT: 25px
}
#footer {
	PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 125px; PADDING-RIGHT: 0px
}
#footer ADDRESS {
	LEFT: 125px
}
#footer .flogo {
	PADDING-LEFT: 5px; WIDTH: 125px
}
#footer .flogo IMG {
	FLOAT: left
}
